/********barre de recherche avec recherche du lieu de restauration*****/
.subheader{
 
    display: flex;
    justify-content: center;
    background-color: #C8C8C8;
    
    &__image{
        width: 100%;
    height: 100%;
    object-fit: cover;
    height: 30vh;

        &--mod{
            height: 250px;
            width: 100%;
            object-fit: cover;
        }
    }

    &__iconemap{
        margin: 10px 10px 10px 0px;
    }

        &__content{
            margin: 10px 10px 10px 0px;
            
            a{
            color: black;
            margin-bottom: auto;
            margin-top: auto;
        }
    
        }
}

/* RESPONSIVE*/ 

@media (min-width: 1025px){
    .subheader{
        &__image{
            height: 35vh;
        }
    }
}
