/***les buttons avec les dégradés de rose a violet**/

.button{
    border-radius: 20px;
    height: 40px;
    border: none;
    width: 230px;
    box-shadow: 5px 6px 7px #0000002e;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    background: rgb(169,33,184);
    background: linear-gradient(0deg, rgba(169,33,184,1) 1%, rgba(175,0,255,1) 49%);

    &__text{
      color: white;
      text-align: center;
    }

    &:hover{
      filter: brightness(0.5);
      cursor: pointer;
      opacity: 1;
	animation: flash 1.5s;
    box-shadow: 5px 15px 21px #00000080;
    }
}
