/***les buttons avec les dégradés de rose a violet**/
.button{
    border-radius: 20px;
    height: 40px;
    border: none;
    width: 230px;
    box-shadow: 5px 6px 7px #0000002e;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    background: linear-gradient(180deg,$secondaire,$primaire);

    &__text{
      color: white;
      text-align: center;
    }
/****animation et eclaircissement lors de l action****/
    &:hover{
      cursor: pointer;
      opacity: 0.7;
	animation: flash 1.5s;
    box-shadow: 5px 15px 21px #00000080;
    }
}
