/***Polices appliquées sur l ensemble de l application***/
 /*** h1,
  h2,
  h3,
  a {
   /**font-family: "shrikhand", cursive;**/
  
  body
  {
    font-family: 'Roboto', sans-serif;
  }

  .fa-check-circle {
    font-size: 1.25rem;
    color: white;
    transition: transform 0.4s ;
  }
  .fa-store {
    color: #9356dc ;
  }
  .fa-heart-animated {
    position: absolute;
    right: 50%;
    transform: translateX(50%);
    bottom: 0;
    font-size: 0px;
    background: linear-gradient(120deg,#FF79DA 0%,#9356dc 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition-duration: 0.5s;
  }
  .material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48
  }
