/***********Animation du défilement du menu**************/

@keyframes appear {
0% {
  opacity: 0;
  z-index: -1;
  transform: translateY(1rem);
}

100% {
  opacity: 1;
  z-index: 0;
  transform: translateY(0);
}
}
@keyframes slide {
  0% {
      transform: translateX(0px);
  }
  100% {
      transform: translateX(-4rem);
  }
}
  /******Animation des coeurs sur la pages d accueil********/
  .fa-heart-animated {
    position: absolute;
    right: 50%;
    transform: translateX(50%);
    bottom: 0;
    font-size: 0px;
    color: linear-gradient(200deg, #9356DC 35%, #FF79DA 65%);
    /**font-weight: bold;***/
    transition-duration: 0.5s;
  }
  
  /****************** Animation du loader *********************/
  
  @keyframes rotate{
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  
  /* Animation du bloc */
  
  @keyframes off{
    from {
      opacity: 90%;
  }
  to {
    display: none;
    opacity: 0%;
    z-index: -1;
    
  }
  }
@keyframes tour{
    0%{transform: rotateZ(0deg);}
    100%{transform: rotateZ(360deg);}
  }

